// colors
$accent: #49cbcd;
$white: #fff;
$text: #4e525d;
$light-gray: #f8f9fb;
$gray-back: #f1f1f1;
$gray-border: #ecf0f1;
$gray-text: #999999;
$package-title: #485460;
$purple: #9384af;
$facebook: #3b5997;
$twitter: #3ec2f3;
$google: #e44c41;
$placeholder: #c1c1c1;
$error: red;